body {
  background-color: #f7f8fc;
}

.card {
  border-radius: 10px;
}

h3 {
  font-weight: 600;
}

.form-control {
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
}

.text-muted {
  font-size: 0.9rem;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 18%;
  height: 18%
}

.logo-txt {
  margin: 3%;
  color: #B21E2B
}